# note, there is a second gitignore file in softboundcets-llvm-clang34
build
softboundcets-lib/*.o
softboundcets-lib/*.a
softboundcets-lib/lto/*.o
softboundcets-lib/lto/*.a
*Debug+Asserts*
*.log
tests
